{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "src": "./src",
        "controllers": "./src/controllers",
        "models": "./src/models",
        "routes": "./src/routes"
      }
    }]
  ]
}
